{{extend 'layout.html'}}
<h1>Está es la plantilla test/test1.html</h1>
{{=BEAUTIFY(response._vars)}}



<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<h1>Está es la plantilla test/test1.html</h1>




<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<h1>Está es la plantilla test/test1.html</h1>

<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<h1>Está es la plantilla test/test1.html</h1>
